appnope==0.1.4 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0" and platform_system == "Darwin"
asttokens==2.4.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
async-timeout==5.0.1 ; python_full_version >= "3.9.0" and python_full_version < "3.11.3"
backoff==2.2.1 ; python_full_version >= "3.9.0" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
bs4==0.0.2 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
certifi==2024.8.30 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
cffi==1.17.1 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0" and implementation_name == "pypy"
charset-normalizer==3.4.0 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_version >= "3.9" and python_full_version < "4.0.0" and sys_platform == "win32"
comm==0.2.2 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
debugpy==1.8.8 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
decorator==5.1.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
executing==2.1.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
falkordb==1.0.9 ; python_full_version >= "3.9.0" and python_version < "4.0"
fix-busted-json==0.0.18 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
idna==3.10 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
importlib-metadata==8.5.0 ; python_full_version >= "3.9.0" and python_version < "3.10"
ipykernel==6.29.5 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
ipython==8.18.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
jedi==0.19.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
jupyter-client==8.6.3 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
jupyter-core==5.7.2 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
matplotlib-inline==0.1.7 ; python_version >= "3.9" and python_full_version < "4.0.0"
nest-asyncio==1.6.0 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
packaging==24.2 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
parso==0.8.4 ; python_version >= "3.9" and python_full_version < "4.0.0"
pexpect==4.9.0 ; python_version >= "3.9" and python_full_version < "4.0.0" and sys_platform != "win32"
platformdirs==4.3.6 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
prompt-toolkit==3.0.48 ; python_version >= "3.9" and python_full_version < "4.0.0"
psutil==6.1.0 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
ptyprocess==0.7.0 ; python_version >= "3.9" and python_full_version < "4.0.0" and sys_platform != "win32"
pure-eval==0.2.3 ; python_version >= "3.9" and python_full_version < "4.0.0"
pycparser==2.22 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0" and implementation_name == "pypy"
pygments==2.18.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
pypdf==4.3.1 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
python-abc==0.2.0 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
python-dotenv==1.0.1 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
pywin32==308 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_full_version >= "3.9.0" and python_full_version < "4.0.0"
pyzmq==26.2.0 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
ratelimit==2.2.1 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
redis==5.2.0 ; python_full_version >= "3.9.0" and python_version < "4.0"
requests==2.32.3 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
six==1.16.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
soupsieve==2.6 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
stack-data==0.6.3 ; python_version >= "3.9" and python_full_version < "4.0.0"
tornado==6.4.1 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
traitlets==5.14.3 ; python_version >= "3.9" and python_full_version < "4.0.0"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
urllib3==2.2.3 ; python_full_version >= "3.9.0" and python_full_version < "4.0.0"
wcwidth==0.2.13 ; python_version >= "3.9" and python_full_version < "4.0.0"
zipp==3.21.0 ; python_version >= "3.9" and python_version < "3.10"