name: Run tests

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  test:
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: ubuntu-latest
    services:
      falkordb:
        image: falkordb/falkordb:latest
        ports:
          - 6379:6379
      ollama:
        image: ollama/ollama:latest
        ports:
          - 11434:11434
        volumes:
          - ollama:/root/.ollama
    
    strategy:
      matrix:
        model: [gemini-1.5-flash-001, gpt-4o] # List of models

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x # Update with desired Python version

      - name: Cache Poetry virtualenv
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.poetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v2"
        with:
          version: ">= 363.0.0"

      - name: Install Poetry
        if: steps.cache.outputs.cache-hit != true
        run: |
          curl -sSL https://install.python-poetry.org | python3 -

      - name: Install dependencies
        run: poetry install --extras "all"

      - name: Wait for Ollama to be ready
        run: |
          until curl -s http://localhost:11434; do
            echo "Waiting for Ollama..."
            sleep 10
          done

      - name: Run tests
        env:
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
          REGION: ${{ vars.REGION }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
          TEST_MODEL: ${{ matrix.model }} # Pass the model as an environment variable
        run: poetry run pytest
